<%- include('../partials/header') %>
<h2><%=title%></h2>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/jamiefox.jpg" alt="Jamiefox"  width="500" height="333" ></div>
  
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h2>Leonardo Wilhelm DiCaprio</h2>
  	<div class="fakeimg">
      <img src="views/images/leonardo.jpg"  width="500" height="333">
      </div>
  </div> 
  	

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  	<p>

    <br>
    <br>
      <h2 class="mt-5">"Ohhh Romeooo!"</h2>
<b>Eric Marlon Bishop, known professionally as Jamie Foxx, is an American actor, comedian, and singer who is the recipient of various accolades, including an Academy Award, a BAFTA Award, a Golden Globe Award, a Grammy Award, and a Screen Actors Guild Award.</b>
</p>
  	<p> <b>Leonardo Wilhelm DiCaprio is an American actor and film producer. Known for his work as a leading man in biopics and period films, he is the recipient of numerous accolades, including an Academy Award, a British Academy Film Award, and three Golden Globe Awards. </b></p>
  
<%- include('../partials/footer') %>