<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h5>Bill Gates:</h5>
<div class="fakeimg">
      <img src= "views/images/gates.jpg" alt="BillGates"  width="415" height="200">
</div> 
  	<h3 class="mt-4">Profile</h3>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="https://www.linkedin.com/in/yeabsira-girma-3b7153237/">LinkedIn</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/Yeab243">GitHub</a>
    	</li>
    	<li class="nav-item">
<!--       	<a class="nav-link disabled" href="#">Disabled</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link disabled" href="#">Disabled</a> -->
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Bill Gates</h2>
  	<p><b>William Henry Gates III (born October 28, 1955) is an American business magnate, software developer, investor, author, and philanthropist. He is a co-founder of Microsoft, along with his late childhood friend Paul Allen. 

Gates was born and raised in Seattle, Washington. In 1975, he and Allen founded Microsoft in Albuquerque, New Mexico. It became the world's largest personal computer software company. Gates led the company as chairman and CEO until stepping down as CEO in January 2000, succeeded by Steve Ballmer, but he remained chairman of the board of directors and became chief software architect. </b>
    </p>

    <br>
    <br>

  	<h2 class="mt-5">Elon Musk</h2>
  	<div>
      <img src="views/images/musk.jpg" width="1000" height="300">
    </div>
  	<p><b>Elon Reeve Musk FRS (born June 28, 1971) is a business magnate and investor. He is the founder, CEO, and Chief Engineer at SpaceX; angel investor, CEO, and Product Architect of Tesla, Inc.; founder of The Boring Company; and co-founder of Neuralink and OpenAI. With an estimated net worth of around US$242 billion as of July 25, 2022, Musk is the wealthiest person in the world according to both the Bloomberg Billionaires Index and Forbes' real-time billionaires list.</b></p>
<%- include('../partials/footer') %>