<%- include('../partials/header') %>
<h2><%=title%></h2>
  <div class="col-sm-4">
  	<div class="fakeimg">
      <img src="views/images/Bob.jpg" alt="Bobmarley"  width="500" height="333" ></div>
  	
  	<hr class="d-sm-none">
	</div>
</div>
  <div class="col-sm-3">
    
  </div>
	<div class="col-sm-3">
    <h2>Teddy Afro: The Ethiopian Hero!</h2>
  	<div class="fakeimg">
      <img src="views/images/teddy.jpg"  width="500" height="333">
      </div>
  </div> 
  	<h2 class="mt-5">"Love Wins!"</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <p> <b>
Robert Nesta Marley (6 February 1945 – 11 May 1981; baptised in 1980 as Berhane Selassie) was a Jamaican singer, musician, and songwriter. Considered one of the pioneers of reggae, his musical career was marked by fusing elements of reggae, ska, and rocksteady, as well as his distinctive vocal and songwriting style. </b>
</p>
  
  	<p><b>Tewodros Kassahun Germamo (Amharic: ቴዎድሮስ ካሳሁን ገርማሞ; born 14 July 1976), known professionally as Teddy Afro, is an Ethiopian singer-songwriter. Known by his revolutionary songs and political dissent sentiment, Teddy is considered one of the most significant Ethiopian artists of all time. Teddy has had a huge cultural impact on the Ethiopian music industry and has been a big influence on many young artists.</b></p>
  
<%- include('../partials/footer') %>